@import url('https://fonts.googleapis.com/css?family=Pacifico|Josefin+Sans|Asap');

.profile {
  text-align: center;
  font-size: 60px;
  padding: 0px 10px 10px 0px;
  font-family: 'Pacifico', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin: 0px;
}

#photo {
  height: 300px;
  width: 500px;
  border-radius: 50%;
}

#picture {
  text-align: center;
}

.links {
  list-style-type: none;
  text-align: center;
}

li {
  font-size: 15px;
  display: inline;
  font-family: 'Asap', sans-serif;
  text-align: center;
}


body {
  margin: 5px 150px 10px 150px;
  background-color: #CC99FF
}

p {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  text-align: left;
}

.description {
  border-bottom: thin solid gray;
}
